<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock title %}</title>
        <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    </head>
    <body>

    {% block navigation %}
        <div class="navigation">
            <ul class="items">
                <li class="item">
                    <a href="{{ path('all-projects') }}">All Projects</a>
                </li>
                <li class="item"><a href="{{ path('all-projects') }}">Issues</a></li>
            </ul>
        </div>
    {% endblock navigation %}

    {% block body %}
        <h2 class="title">Redmine test</h2>
            <div class="content">
                {% block maincontent %}
                    Main page
                {% endblock maincontent %}
            </div>

            <div class="sidebar">
                {% block sidebar %}
                        fasfg
                {% endblock sidebar %}
            </div>


    {% endblock body %}
    </body>
</html>